<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <connectionStrings>
    <add name="CDental" 
         connectionString="Data Source=STEVEN-LAPTOP\SQLSERVER2008R2;Initial Catalog=CDental;Persist Security Info=True;User ID=sa;Password=Liga3954" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
