<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <connectionStrings>
    <add name="CDental" 
         connectionString="Data Source=DEV;Initial Catalog=CDental;User ID=sa;Password=k98mp44g3" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DireccionLog" value="D:\\WSDentalLog.log" />
  </appSettings>
</configuration>
